<!-- Start About -->
<section id="about" class="dark-bg light-typo padding-top-bottom">
  <div class="container">
    <header class="section-header text-center">
      <h1 class="scrollimation scale-in">About Me</h1>
    </header>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <%= image_tag('headshot.png', class: 'img-responsive img-center img-circle scrollimation fade-left', alt: 'Jim Smith') %>
        <p class="text-center scrollimation fade-in">Cras convallis nunc vitae massa convallis fermentum. Fusce feugiat, sem at congue rutrum, nisl mauris facilisis tellus, vel interdum nulla enim at purus. Integer metus justo, pellentesque ac bibendum a, dapibus sed nisl. Donec vitae suscipit lacus. Vivamus lacinia nisi eget erat luctus, id mollis nunc molestie. </p>
      </div>
    </div>
    <p class="text-center">
      <%= link_to('#contact', class: 'btn btn-meflat scrollto white icon-left') do %>
        <i class="fa fa-arrow-down"></i>Hire Me
      <% end %>
    </p>
  </div>
</section>
<!-- End About -->
