<!-- Start Featured Project -->
<section id="feat-project" class="gray-bg padding-top">

  <div class="container">

    <header class="section-header text-center">

      <h1 class="scrollimation scale-in">Featured Project</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/> Aenean purus felis, condimentum et tempor in, commodo id nibh. Fusce a lacus arcu.</p>

    </header>

    <div class="scrollimation fade-up">
      <img class="img-responsive img-center" src="assets/chrome-top.png" alt="" />

      <div class="img-wrapper">

        <img class="img-responsive img-center" src="assets/placeholder-800x500.jpg" alt="" />

        <p class="text-center on-hover"><a class="btn btn-meflat icon-right" href="#external">Visit Website<i class="fa fa-arrow-right"></i></a></p>

      </div>
    </div>

  </div>

</section>
<!-- End Featured Project -->
