<!-- Start Services -->
<section id="services" class="white-bg padding-top-bottom">

  <div class="container">

    <header class="section-header text-center">

      <h1 class="scrollimation scale-in">What I Do</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/> Aenean purus felis, condimentum et tempor in, commodo id nibh. Fusce a lacus arcu.</p>

    </header>

    <div class="row services">

      <div class="col-md-3 col-sm-6 item scrollimation fade-up">

        <div class="icon">
          <img class="img-responsive img-center" src="assets/service1.png" alt="" />
        </div>

        <h2>Web &amp; App Design</h2>
        <p>Donec quam velit, aliquam at tempor quis, blandit quis nisi. Proin orci enim, dictum vel leo eu, blandit vulputate turpis.</p>

      </div>

      <div class="col-md-3 col-sm-6 item scrollimation fade-up d1">

        <div class="icon">
          <img class="img-responsive img-center" src="assets/service2.png" alt="" />
        </div>

        <h2>Web Development</h2>
        <p>Donec quam velit, aliquam at tempor quis, blandit quis nisi. Proin orci enim, dictum vel leo eu, blandit vulputate turpis.</p>

      </div>

      <div class="col-md-3 col-sm-6 item scrollimation fade-up d2">

        <div class="icon">
          <img class="img-responsive img-center" src="assets/service3.png" alt="" />
        </div>

        <h2>SEO Content</h2>
        <p>Donec quam velit, aliquam at tempor quis, blandit quis nisi. Proin orci enim, dictum vel leo eu, blandit vulputate turpis.</p>

      </div>

      <div class="col-md-3 col-sm-6 item scrollimation fade-up d3">

        <div class="icon">
          <img class="img-responsive img-center" src="assets/service4.png" alt="" />
        </div>

        <h2>Mail Campaigns</h2>
        <p>Donec quam velit, aliquam at tempor quis, blandit quis nisi. Proin orci enim, dictum vel leo eu, blandit vulputate turpis.</p>

      </div>

    </div>

  </div>

</section>
<!-- End Services -->
