<!-- Start Footer -->
<footer id="main-footer" class="dark-bg light-typo">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <ul class="social-links">
          <li class="scrollimation fade-right d2">
            <%= link_to('https://plus.google.com/u/0/103881236035781404915', target: '_blank') do %>
              <i class="fa fa-google-plus fa-fw"></i>
            <% end %>
          </li>
          <li class="scrollimation fade-right">
            <%= link_to('http://www.linkedin.com/in/thejbsmith', target: '_blank') do %>
              <i class="fa fa-linkedin fa-fw"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 text-right scrollimation fade-in">
        <p>&copy;<%= Date.today.year %> Jim Smith Design</p>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
